/*------- GENERAL -------*/
.mobileCheckout {
    width: 375px;
    margin: 0 auto;
}
/*------- TOP CHECKOUT NAV -------*/
.checkoutNav {
    display: table;
    
    color: #e3731b;
    font-weight: 600;
    text-transform: uppercase; 
}

span.fa.fa-chevron-left.fa-2x {
    display: table-cell;
    
    vertical-align: middle;
}

span.checkoutNavCopy {
    display: table-cell;
    vertical-align: middle;
}

/*------- TOP SECURE CHECKOUT -------*/
.topCheckoutContainer {
   display: inline-block;
}
.checkout-btn{
    display: table;
    background: #e3731b;
    
    width: 13.875em;
    height: 2.75em;
    
    font-weight: 600;
    
    margin-right: 0;
    
	color:#ffffff;
	border-radius:.375em;
	-webkit-border-radius:.375em;
	-moz-border-radius:.375m;
	-o-border-radius:.375em;
	-ms-border-radius:.375em;
	border: 1px solid #9b6612;
	border-top: 2px solid #e5b25f;
    
    text-transform: uppercase;
}

.checkout-btn:hover{
	text-decoration: none;
	background: #5B5B5B;
	border: 1px solid #5B5B5B;
	border-top: 2px solid #5B5B5B;
}

.checkout-btn span{
	padding-right:0.3em;
	margin-right:0.3em;
	display:inline-block;
}

span.fa.fa-lock.fa-2x {
    display: table-cell;
    padding-left: .375em;
    
    vertical-align: middle;
}

span.checkout-btn-label {
    display: table-cell;
    vertical-align: middle;
}

.topCheckoutSub {
    display: inline-block;
    
    font-weight: 800;
    
    vertical-align: middle;
}

.sub2 {
    
}

/*------- SHIPPING FORM -------*/
.shippingForm {
    border:1px solid #888888; 
}

.shippingParent {
    border-bottom:1px solid #888888;
}

.shippingLabel, .shippingRadio {
    display: inline-block;
    vertical-align: middle;
} 


/*------- COUPON FORM -------*/

.couponForm input[type=text] {
    height: 32px
}